Общее описание.
-----------------------------------
Тип проекта ->
Одностраничное веб-приложение.

Название ->
Клуб любителей рыб

Описание ->
Список представителей мира кошачьих, ценящих вкус водных обитателей.

Общая струтура ->
1--> Шапка
1.1--> Логотип
1.2--> Кнопка вызова модального окна для добавления членов кошачьего клуба
1.2.1--> Модальное окно содержит следующие поля: 
            - фото по адресу, вводимое в поле адреса картинки
            - поле ввода адреса картинки
            - id
            - Имя
            - Описание
            - Возраст
            - Рейтинг 0-10
            - Favorite (псевдочекбокс)
            - Кнопка добавления рыболюбителя
            - Кнопка закрытия окна
2--> Тело
2.1--> Карточки клуба ценителей рыб
2.1.1--> Карточка состоит из фото, имени. Неактивное окно отличается от активного визуально. При клике окно активируется и появляется описание.
3--> Подвал
3.1--> Копирайты и соцсети