.add-cat_popup-container,
.edit-cat_popup-container {
  position: fixed;
  width: 70%;
  top: 5%;
}

/* Форма добавления кота */
.add-cat,
.edit-cat {
  position: absolute;
  background: var(--bg-fata-morgana-bgcolor);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  visibility: hidden;
  opacity: 0;
  /* transition: 500ms; */
}

.edit-cat {
  position: absolute;
  background: var(--bg-fata-morgana-bgcolor);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: 500ms;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.window-add-cat,
.window-edit-cat {
  background-color: var(--bg-formdefault-bgcolor);
  box-shadow: -3px 3px 15px 1px #011d338a;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}

.form-add-cat,
.form-edit-cat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;
  margin-top: 20px;
}

@media (max-width: 760px) {
  .form-add-cat,
  .window-add-cat,
  .form-edit-cat,
  .window-edit-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-add-cat_preimg,
  .form-edit-cat_preimg {
    width: 100%;
    min-height: 110px;
  }
}

.window-add-cat > span,
.window-edit-cat > span {
  /* padding-bottom: 5px; */
  text-transform: uppercase;
  padding: 0 25px;
}

.window-add-cat > span > span,
.window-edit-cat > span > span {
  text-transform: lowercase;
  color: grey;
  display: block;
}

.form-add-cat_preimg {
  grid-row: 1 / 4;
  height: 100%;
  background-image: url(../img/nofoto.jpg);
  background-size: cover;
  border-radius: 5px;
}
.form-edit-cat_preimg {
  grid-row: 1 / 4;
  height: 100%;
  background-size: cover;
  background-position: top;
  border-radius: 5px;
}
.form-add-cat_input, .form-edit-cat_input {
  border-radius: 5px;
  padding: 5px;
}
.form-add-cat_select, .form-edit-cat_select {
  grid-column: 3 / 3;
  border-radius: 5px;
}
.form-add-cat_textarea, .form-edit-cat_textarea {
  grid-column: 3 / 3;
  grid-row: 1 / span 2;
  height: 100%;
  border-radius: 5px;
  padding: 5px;
}
.form-add-cat_favor_area, .form-edit-cat_favor_area {
  grid-column: 3 / 3;
  border-radius: 5px;
  background-color: rgba(255, 217, 0, 0.3);
  color: rgba(0, 0, 0, 0.4);
  padding: 7px;
  font-size: 105%;
}

.checked {
  background-color: rgba(255, 217, 0, 1);
  color: red;
  text-shadow: -5px -2px 11px #fff;
}

.form-add-cat_button, .form-edit-cat_button {
  grid-column: 2 / 3;
  border-radius: 5px;
  padding: 7px;
  background-color: black;
  color: gold;
}

.window-add-cat_close, .window-edit-cat_close, .window-auth-cat_close, .window-info-cat_close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  font-size: 25px;
  color: inherit;
  z-index: 200;
  cursor: pointer;
}

.window-add-cat_close:hover, .window-edit-cat_close:hover, .window-auth-cat_close:hover, , .window-info-cat_close:hover {
  color: red;
  font-size: 26px;
}

.form-add-cat_favor_checkbox, .form-edit-cat_favor_checkbox {
  appearance: none;
}

/* удаление кота */
.window-delete-cat, .window-edit-cat {
  position: fixed;
  /* margin-top: 20px; */
  padding: 20px 0;
  width: 70%;
  top: 5%;
  background-color: var(--bg-formdefault-bgcolor);
  box-shadow: -3px 3px 15px 1px #011d338a;
  border-radius: 15px;
  text-align: center;
}

.form-delete-cat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;
  margin-top: 20px;
}

@media (max-width: 760px) {
  .form-delete-cat,
  .window-delete-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.window-delete-cat > span {
  /* padding-bottom: 5px; */
  text-transform: uppercase;
  padding: 0 25px;
}

.window-delete-cat > span > span {
  text-transform: lowercase;
  color: grey;
  display: block;
}

.form-delete-cat_button {
  grid-column: 2 / 3;
  border-radius: 5px;
  padding: 7px;
  background-color: black;
  color: gold;
}

.window-delete-cat_close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  font-size: 25px;
  color: inherit;
}

.window-delete-cat_close:hover {
  color: red;
  font-size: 26px;
}

/* редактирование котов */
.edit-cat-form, .authform {
  position: fixed;
  top: 5%;
  background-color: var(--bg-formdefault-bgcolor);
  box-shadow: -3px 3px 15px 1px #011d338a;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  z-index: 200;
  align-self: center;
  justify-self: center;
}

.authform h3 {
  text-transform: uppercase;
}

label {
  color: rgba(0, 0, 0, 0.4);
}